*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    grid-template-rows: 150px 1fr 150px;
}
.game-info,.btn{
    color: white;
    background-color: rgba(255,255,255,0.15);
    border: 1px solid rgba(255,255,255,0.25);
    padding: 0.5rem 3rem;
    text-align: center;
    border-radius: 1rem;
}
.btn{
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    display: none;
}
.btn:hover{
    background-color: rgba(255,255,255,0.45);
    color: black;
}
.btn.active{
    display: flex;
}
.win{
    background-color: rgba(0, 255, 0 ,0.3);
}
.ticTacToe{
    width: 90%;
    max-width: 20rem;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgba(255,255,255,0.15);
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 1rem;
    padding: 2rem;
    aspect-ratio: 1/1;
}
.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.box-0,.box-1,.box-3,.box-4{
    border-right: 2px solid rgba(255,255,255);
    border-bottom: 2px solid rgba(255,255,255);
}
.box-2,.box-5{
    border-bottom: 2px solid rgba(255,255,255);
}
.box-6,.box-7{
    border-right: 2px solid rgba(255,255,255);
}

.redirectDiv{
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 9999;
    transition: all 300ms ease-in-out;
}
.redirectDiv:hover{
    transform: scale(1.1);
}
.redirect{
    all: unset;
    position: relative;
}
.tooltip{
    background-color: rgba(255, 255, 30, 0.712);
    padding: 0.5rem;
    position: absolute;
    top: -7rem;
    display: none;
    right: 2px;
    font-size: 0.75rem;
}
.redirect:hover > .tooltip{
    transition: all 300ms ease-in-out;
    display: block;
}